@model IEnumerable<DiaryPost>
@{
    ViewData["Title"] = "Diary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{
        if (Model != null)
        {
            if (!Model.Any())
            {
                <h1>Welcome!</h1>
                <p>Get started and write your first diary post <a class="text-primary" asp-controller="MyDiary" asp-action="Edit">here</a>.</p>
                <p>Happy Expressing!</p>
            }
            else
            {
                <ul class="nav nav-pills diary-posts">
                    <li class="nav-item">
                        <span class="h4 navbar-text">
                            <small>DIARY POSTS</small>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="MyDiary" asp-action="Edit">New post</a>
                    </li>
                </ul>

                <hr />

                foreach (var post in Model)
                {
                    await Html.RenderPartialAsync("Post.cshtml", post);
                }
            }
        }
    }
</div>