<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script>
$(document).ready(function() {
  $('#submit').click(function() {
    event.preventDefault();

    $.ajax({
        type: "POST",
        url: 'http://localhost:8080/diary/create',
        data: {
              "token": "hekejkj",
              "title": "bello",
              "public": "false",
              "text": "heloworld"
        },
        contentType: 'application/json; charset=utf-8',
        success: function(result) {
            alert('Success');
        },
        error: function(jqxhr, status, exception) {
            alert('Exception:', status);
        }
    });
    console.log(data)
  });
});
</script>

@{
    ViewData["Title"] = "Posts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">      
        <div class="col-md-8 col-md-offset-2">
            <h1>Create post</h1>            
            <form method="post"> 
                <div class="form-group">
                    <label for="title">Token <span class="require">*</span></label>
                    <input type="text" class="form-control" name="token" />
                </div>
                <div class="form-group">
                    <label for="title">Title <span class="require">*</span></label>
                    <input type="text" class="form-control" name="title" />
                </div>               
                <div class="form-group">
                    <label for="description">Text<span class="require">*</span></label>
                    <textarea rows="5" class="form-control" name="text" ></textarea>
                </div> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Public Post?<span class="require"></span>
                  </label>
                </div>
                <div class="form-group">
                    <p><span class="require">*</span> - required fields</p>
                </div>                
                <div class="form-group">
                    <button id="submit" type="submit" class="btn btn-primary">
                        Create
                    </button>
                    <button class="btn btn-default">
                        Cancel
                    </button>
                </div>                
            </form>
        </div>        
    </div>
</div>
